@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("SaleRegister", "ReportSummary", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdate" }))
{
    @*<div id="loadderDiv">
            <div class="spinner-border text-success " role="status" >
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <label class="h6" for="exampleInputDate2">From</label>
                    <div class="form-group">
                        <div class="input-group input-group-border">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="far fa-calendar-alt"></span></span></div>
                            <input class="form-control datepicker" readonly id="dtfrom" name="dtfrom" placeholder="Start date" type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="h6" for="exampleInputDate3">To</label>
                        <div class="input-group input-group-border">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="far fa-calendar-alt"></span></span></div>
                            <input class="form-control datepicker" readonly id="dtto" name="dtto" placeholder="End date" type="text">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="padding-top:29px">
                        <button class="btn btn-primary btnSubmit" type="submit">
                            Search
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 pl-6">
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r1" value="All" checked>
                <label class="form-check-label" for="r1">
                    All
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r2" value="NC">
                <label class="form-check-label" for="r2">
                    NC
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r3" value="void">
                <label class="form-check-label" for="r3">
                    Void
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info font-weight-bold text-center " role="alert">
                @ViewBag.selectedRecordDescription
            </div>
        </div>
        <div class="col-md-12">
            <table class="table  khaopiyo-tran-table table-striped table-responsive w-100">
                <thead class="thead-dark">
                    <tr>
                        <th class="" scope="col">Bill No</th>
                        <th class="" scope="col">Bill Date</th>
                        <th class="" scope="col">Table No</th>
                        <th class="" scope="col">Qty</th>
                        <th class="" scope="col">Amount</th>
                        <th class="" scope="col">RoundOff</th>
                        <th class="" scope="col">Grand Total</th>
                        <th class="" scope="col">Guest Name</th>
                        <th class="" scope="col">Mobile</th>
                        <th class="" scope="col">Pax</th>
                        <th class="" scope="col">GSTIN</th>
                        <th class="" scope="col">NC Amount</th>
                        <th class="" scope="col">NC Reason</th>
                        <th class="" scope="col">Tax</th>
                        <th class="" scope="col">Discount Type</th>
                        <th class="" scope="col">Discount Value</th>
                        <th class="" scope="col">Void Reason</th>
                        <th class="" scope="col">Pay Type</th>
                        <th class="" scope="col">Way Off</th>
                        <th class="" scope="col">Way Off Remark</th>
                        <th class="" scope="col">Tip Amount</th>
                        <th class="" scope="col">Donation</th>
                    </tr>
                </thead>
                <tfoot class="thead-dark">
                    <tr>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}


<script type="text/javascript">

    var i = 0;

    if (i == 0) {
        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();

        var startDate = new Date(currYear, currMonth, d.getDate());


        $("#dtfrom").datepicker("setDate", startDate);
        $("#dtto").datepicker("setDate", startDate);

        i++;
    }



    $(function () {
        $.ajax({
            type: "POST",
            url: "/ReportSummary/GetSaleRecords",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                //  alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });



    function OnUpdate(response) {  //to call  while fetching data on submit button
        var datatable = $(".khaopiyo-tran-table").DataTable();
        datatable.clear();
        datatable.rows.add(response);
        datatable.draw();
    }


    function OnSuccess(response) {
        var d = $(".khaopiyo-tran-table").DataTable(
            {
                language: {
                    searchPlaceholder: "Search text"
                },
                processing: false,
                bLengthChange: false,
                lengthMenu: [[5, 10, -1], [5, 10, 50, 100, "All"]],
                bFilter: false,
                bSort: false,
                bPaginate: true,
                paging: false,
                data: response,
                columns: [{ 'data': 'iBill_No', 'class': 'billno' },
                { 'data': 'dBill_Dt' },
                { 'data': 'iTab_Cd' },
                { 'data': 'TQty' },
                { 'data': 'TAmt' },
                { 'data': 'TRoundOff' },
                { 'data': 'iGrand_Amt' },
                { 'data': 'sGuest_Nm' },
                { 'data': 'sMobile' },
                { 'data': 'iPax' },
                { 'data': 'GSTIN' },
                { 'data': 'NCAmt' },
                { 'data': 'sNCReason' },
                { 'data': 'TaxAmt' },
                { 'data': 'sDis_Type' },
                { 'data': 'DisAmt' },
                { 'data': 'sVoidReason' },
                { 'data': 'sType' },
                { 'data': 'iWayOffAmt' },
                { 'data': 'iWayOffRemark' },
                { 'data': 'iTipAmt' },
                { 'data': 'iDonationAmt' },
                ],
                fnFooterCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;

                    //this.api().columns().every(function () {
                    //    var column = this;
                    //    $(footer).append('<td></td>');
                    //});

                    //   $(this).append(footer);

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    totalDonationAmt= api
                        .column(21)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalTipAmt= api
                        .column(20)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalWayOff= api
                        .column(18)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalDiscAmt = api
                        .column(15)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalTaxAmt = api
                        .column(13)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalNCAmt = api
                        .column(11)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalgstin = api
                        .column(10)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalipax= api
                        .column(9)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                   
                    totaltax = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalRoundOff = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    grandTotal = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over all pages
                    totalqty = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //alert(api.column(3).footer().val());
                    totalamt = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Update footer
                    $(api.column(0).footer()).html(
                        'Total'
                    );
                    $(api.column(3).footer()).html(
                        totalqty
                    );
                    $(api.column(4).footer()).html(
                        totalamt
                    );
                   

                    $(api.column(6).footer()).html(
                        totaltax
                    );
                    $(api.column(9).footer()).html(
                        totalipax
                    );
                   
                   
                    $(api.column(10).footer()).html(
                        totalgstin
                    );
                    $(api.column(11).footer()).html(
                        totalNCAmt
                    );

                    $(api.column(13).footer()).html(
                        totalTaxAmt
                    );
                    $(api.column(15).footer()).html(
                        totalDiscAmt
                    );
                    $(api.column(18).footer()).html(
                        totalWayOff
                    );
                    $(api.column(20).footer()).html(
                        totalTipAmt
                    );
                    $(api.column(21).footer()).html(
                        totalDonationAmt
                    );
                }
            });
    };
</script>

