@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("SaleRegister", "ReportSummary", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdate" }))
{

    <div class="row mt-3">
        <div class="col-md-4 col-sm-4">
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <label class="h6" for="exampleInputDate2">From</label>
                    <div class="form-group">
                        <div class="input-group input-group-border">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="far fa-calendar-alt"></span></span></div>
                            <input class="form-control datepicker" readonly id="dtfrom" name="dtfrom" placeholder="Start date" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label class="h6" for="exampleInputDate3">To</label>
                        <div class="input-group input-group-border">
                            <div class="input-group-prepend"><span class="input-group-text"><span class="far fa-calendar-alt"></span></span></div>
                            <input class="form-control datepicker" readonly id="dtto" name="dtto" placeholder="End date" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <div class="form-group" style="padding-top:29px">
                        <button class="btn btn-primary btnSubmit" type="submit">
                            Search
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 pl-6">
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r1" value="All" checked>
                <label class="form-check-label" for="r1">
                    All
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r2" value="NC">
                <label class="form-check-label" for="r2">
                    NC
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" group="r1" type="radio" name="r1" id="r3" value="void">
                <label class="form-check-label" for="r3">
                    Void
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info font-weight-bold text-center " role="alert">
                @ViewBag.selectedRecordDescription
            </div>
        </div>
        <div class="col-md-12 text-center">
            <table class="table  khaopiyo-tran-table table-striped table-responsive w-100">
                <thead class="thead-dark">
                    <tr>
                        <th class="" scope="col">Bill No</th>
                        <th class="" scope="col">Bill Date</th>
                        <th class="" scope="col">Table No</th>
                        <th class="" scope="col">Qty</th>
                        <th class="" scope="col">Amount</th>
                        <th class="" scope="col">Discount</th>
                        <th class="" scope="col">Tax</th>
                        <th class="" scope="col">RoundOff</th>
                        <th class="" scope="col">Grand Total</th>
                        <th class="" scope="col">Guest Name</th>
                        <th class="" scope="col">Mobile</th>
                        <th class="" scope="col">Pax</th>
                        <th class="" scope="col">GSTIN</th>
                        <th class="" scope="col">Pay Type</th>
                        <th class="" scope="col">NC Amount</th>
                        <th class="" scope="col">NC Reason</th>
                        <th class="" scope="col">Discount Type</th>
                        <th class="" scope="col">Void Reason</th>
                        <th class="" scope="col">Way Off</th>
                        <th class="" scope="col">Way Off Remark</th>
                        <th class="" scope="col">Tip Amount</th>
                        <th class="" scope="col">Donation</th>
                    </tr>
                </thead>
                <tfoot class="tfoot-dark">
                    <tr>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                        <td class="" scope="col"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).on("click", ".khaopiyo-tran-table tbody .billno", function () {
        var id=$(this).text();
         $.ajax({
             url: "@Url.Action("GetRunningTable", "ReportSummary")",
             data: { "tid":  id },
            contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: dataReceived,
            failure: function (response) {
                //  alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });



    function dataReceived(data) {  //rendering running table detail from ajax call
        $(document).find(".modal .tabno").text("Table No.-" + data[0].tabno);
        $(document).find(".modal .billno").text(" " + data[0].billno);
        $(document).find(".billdate").text(" " + data[0].billdate);
        $(document).find(".guestname").text(" " + data[0].guestname);
        $(document).find(".pax").text(" " + data[0].pax);
        $(document).find(".Attendedby").text(" " + data[0].waiter);
        $(document).find(".mobile").text(" " + data[0].mobileno);
        $("._itemsTable").find("tr:gt(0)").remove();  //remove all rows before updating
        $("#totalTab").after().find(".totalTable").remove();   //Remove added card before adding new
        var addingRowStr = "";


        $.each(data, function (key, val) {
            addingRowStr += "<tr > <td  >" + val.itemname + "</td>";
            addingRowStr += "<td align='right' > " + val.rate + "</td>";
            addingRowStr += "<td align='right' >" + val.qty + "</td>";
            addingRowStr += "<td align='right' > " + val.amount + "</td></tr>";
        });


        addingRowStr += "<tr><td  colspan=2 align='right' class='font-weight-bold border-0' >Total :</td><td align='right'  class='font-weight-bold border-0'>" + data[0].totqty + "</td><td class='font-weight-bold border-0' align='right'>" + data[0].total + " </td></tr>" +
            "<tr><td colspan=2 align='right' class='font-weight-bold border-0' >Discount : </td><td class='border-0' align='right' ></td><td align='right' class='font-weight-bold border-0'>" + data[0].discount + " </td></tr>" +
            "<tr><td colspan=2 align='right'class='font-weight-bold border-0' >Tax : </td><td  ></td><td align='right' class='font-weight-bold border-0' >" + data[0].tax + " </td></tr>" +
            "<tr><td colspan=2 align='right'class='font-weight-bold border-0' >Round Off : </td><td class='font-weight-bold border-0' ></td><td align='right' class='font-weight-bold border-0'>" + Math.abs( data[0].roundoff) + " </td></tr>" +
            "<tr><td colspan=2 align='right'class='font-weight-bold border-0' >Grand Total : </td><td  class='font-weight-bold border-0' ></td><td align='right' class='font-weight-bold border-0'>" + data[0].grandtotal + " </td></tr>";


        $("._itemsTable").append(addingRowStr);
        $(".modal").css("paddin-right", "0px");
        $("#tabDetailsModal").modal("show");
    }

    function onFailure(data) {
        alert(data);
    }

    var i = 0;

    if (i == 0) {
        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();

        var startDate = new Date(currYear, currMonth, d.getDate());


        $("#dtfrom").datepicker("setDate", startDate);
        $("#dtto").datepicker("setDate", startDate);

        i++;
    }



    $(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSaleRecords", "ReportSummary")",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                //  alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });



    function OnUpdate(response) {  //to call  while fetching data on submit button
        var datatable = $(".khaopiyo-tran-table").DataTable();
        datatable.clear();
        datatable.rows.add(response);
        datatable.draw();
    }


    function OnSuccess(response) {

        var d = $(".khaopiyo-tran-table").DataTable(
            {
                language: {
                    searchPlaceholder: "Search text"
                },
                processing: false,
                bLengthChange: false,
                lengthMenu: [[5, 10, -1], [5, 10, 50, 100, "All"]],
                bFilter: false,
                bSort: false,
                bPaginate: false,
                paging: false,
                data: response,
                aaSourt:[[0,'asc']],
                columns: [{
                    'data': 'iBill_No', 'class': 'billno', 'mRender': function (data, type, full) {
                        return '<a class="" data-toggle="tooltip" title="View Bill" >' + data +'</a>';
                    }
                },
                    {
                        'name': 'dBill_Dt', 'mData': 'dBill_Dt',
                        "mRender": function (data, type, row) {
                            return data;
                        }
                    },
                    { 'data': 'sTab_Nm' },
                { 'data': 'Qty' },
                { 'data': 'TAmt' },
                    {
                        'data': 'DisAmt'
                        , render: function (data, type, row) {
                            if (data > 0)
                                return data.toFixed(2);
                            else {
                                return 0;
                            }
                        }    },
                { 'data': 'GSTAmt' },
                { 'data': 'TRoundOff' },
                { 'data': 'iGrand_Amt' },
                { 'data': 'sGuest_Nm' },
                { 'data': 'sMobile' },
                { 'data': 'iPax' },
                { 'data': 'GSTIN' },
                { 'data': 'sType' },
                { 'data': 'NCAmt' },
                { 'data': 'sNCReason' },
                { 'data': 'sDis_Type' },
                { 'data': 'sVoidReason' },
                { 'data': 'iWayOffAmt' },
                { 'data': 'iWayOffRemark' },
                { 'data': 'iTipAmt' },
                { 'data': 'iDonationAmt' },
                ],
                fnFooterCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;


                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    totalDonationAmt= api
                        .column(21)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalTipAmt= api
                        .column(20)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);


                    totalWayOff= api
                        .column(18)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalDiscAmt = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalTaxAmt = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalNCAmt = api
                        .column(14)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //totalgstin = api
                    //    .column(10)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    totalipax= api
                        .column(11)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);


                    totalGrand = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalRoundOff = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    grandTotal = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over all pages
                    totalqty = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    totalroundoff = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    //alert(api.column(3).footer().val());
                    totalamt = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Update footer
                    $(api.column(0).footer()).html(
                        'Total'
                    );
                    $(api.column(3).footer()).html(
                        totalqty
                    );
                    $(api.column(7).footer()).html(
                        totalroundoff.toFixed(2)
                    );
                    $(api.column(4).footer()).html(
                        totalamt.toFixed(2)
                    );
                    $(api.column(5).footer()).html(
                        totalDiscAmt.toFixed(2)
                    );

                    $(api.column(6).footer()).html(
                        totalTaxAmt.toFixed(2)
                    );


                    $(api.column(8).footer()).html(
                        totalGrand.toFixed(2)
                    );
                    $(api.column(11).footer()).html(
                        totalipax.toFixed(2)
                    );
                    $(api.column(14).footer()).html(
                        totalNCAmt.toFixed(2)
                    );
                },
            });
    };
</script>

